@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    /* == COLORS == */
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --Light: hsl(300, 5%, 96%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    /* == FONTS == */
    --main-font: 'DM Sans';
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Light);
    font-family: var(--main-font), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
img{
    max-width: 100%;
    height: auto;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "social-media-speed"
        "multiple-platforms"
        "consistent-schedule"
        "schedule-posts"
        "grow-followers"
        "audience-growth"
        "create-content"
        "write-content-ai";
    gap: 32px;
    padding: 32px 16px 64px 16px;
    width: 100%;
}
#social-media-speed{
    grid-area: social-media-speed;
}
#multiple-platforms{
    grid-area: multiple-platforms;
}
#consistent-schedule{
    grid-area: consistent-schedule;
}
#schedule-posts{
    grid-area: schedule-posts;
}
#grow-followers{
    grid-area: grow-followers;
}
#audience-growth{
    grid-area: audience-growth;
}
#create-content{
    grid-area: create-content;
}
#write-content-ai{
    grid-area: write-content-ai;
}
.card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 24px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--White);
    overflow: hidden;
}
.card-title{
    padding: 40px 32px;
}
.card-center{
    align-items: center;
    text-align: center;
}
.card-purple{
    color: var(--White);
    background-color: var(--Purple-500);
}
.card-purple-100{
    background-color: var(--Purple-100);
}
.card-yellow{
    background-color: var(--Yellow-500);
}
.card-yellow-100{
    background-color: var(--Yellow-100);
}
.card-padding-xs{
    padding: 16px;
}
.card-padding-md{
    padding: 32px;
}
.card-padding-y{
    padding: 32px 17.5px;
}
.card-padding-bottom{
    height: 216.25px ;
    padding-bottom: 0;
    overflow: hidden;
}
.title{
    margin-bottom: 24px;
    width: 100%;
    font-size: 46px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: -2px;
}
.subtitle{
    font-size: 32px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -2px;
}
.subtitle-2{
    font-size: 26px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -2px;
}
.text{
    width: 100%;
    max-width: 359px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.accent-yellow{
    color: var(--Yellow-500);
}
.accent-purple{
    color: var(--Purple-500);
}
.text-italic{
    font-style: italic;
}
.text-padding{
    padding: 0 14.5px;
}
.title-margin-15{
    margin-bottom: 15px;
}
.img-star{
    margin-bottom: 8px;
    width: 192px;
    height: auto;
}
.img-social{
    width: auto;
    height: 66.54px;
    margin-bottom: 16px;
    filter: drop-shadow(-10px 11px 24px hsla(284, 65%, 29%, 0.05));
}
.img-calendar{
    margin-top: 16px;
    width: 208px;
    height: auto;
    align-self: start;
}
.img-schedule{
    width: 99%;
    height: 100%;
    max-height: 318px;
    margin: 24px 0;
}
.img-growth{
    margin-bottom: 40px;
    width: auto;
    height: 200px;
}
.img-avatar{
    margin-top: 24px;
    width: auto;
    height: 66.5px;
    align-self: start;
}
.img-post{
    margin-top: 24px;
    width: auto;
    height: 90.35px;
    align-self: start;
}
.img-chat{
    margin-top: 24px;
    width: auto;
    height: 222.5px;
    align-self: start;
}
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.footer--link{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--Purple-500);
}
@media(min-width: 768px){
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "social-media-speed social-media-speed"
            "multiple-platforms consistent-schedule"
            "schedule-posts schedule-posts"
            "grow-followers grow-followers"
            "audience-growth audience-growth"
            "create-content write-content-ai";
        padding: 52px 40px 76px 40px;
    }
    .card-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 324px;
    }
    .card-247{
        height: 247px;
    }
    .card-padding-xs{
        padding: 24px;
    }
    .card-space-between{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-flex-md-center{
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .card-flex-md-space-between{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .card-align-items-md{
        justify-content: center;
        align-items: start;
    }
    .title{
        max-width: 482px;
        font-size: 54px;
        line-height: 48px;
        letter-spacing: -2px;
    }
    .subtitle{
        font-size: 36px;
        line-height: 30px;
    }
    .subtitle-2{
        font-size: 28px;
        line-height: 26px;
    }
    .text-208{
        max-width: 208px;
    }
    .text-257{
        max-width: 257px;
        text-align: left;
    }
    .text-padding{
        padding: 0;
    }
    .vertical-align{
        vertical-align: middle;
    }
    .img-schedule{
        width: auto;
        height: 318px;
    }
    .img-growth{
        margin: 0;
    }
    .img-avatar{
        margin: 0;
        align-self: center;
    }
}
@media(min-width: 1440px){
    .main{
        grid-template-columns: 256px 256px 256px 256px;
        grid-template-rows: 324px 59px 156px 246px;
        grid-template-areas: 
            "create-content social-media-speed social-media-speed schedule-posts"
            "create-content multiple-platforms consistent-schedule schedule-posts"
            "write-content-ai multiple-platforms consistent-schedule schedule-posts"
            "write-content-ai audience-growth grow-followers grow-followers";
        padding: 83px calc( calc(100% - 1120px) / 2) 65px calc( calc(100% - 1120px) / 2);
    }
    .card-vertical-space-between{
        justify-content: space-between;
    }
    .card-flex-md-space-between{
        flex-direction: column;
    }
    .card-flex-md-center{
        gap: 0;
        justify-content: space-between;
    }
    .card-padding-y{
        padding: 32px;
        align-items: start;
        text-align: left;
    }
    .title{
        font-size: 62px;
        line-height: 58px;
    }
    .subtitle{
        font-size: 40px;
        line-height: 36px;
        letter-spacing: -1px;
    }
    .subtitle-2{
        font-size: 32px;
        line-height: 28px;
    }
    .text-208{
        padding-right: 1px;
    }
    .text-257{
        padding-right: 1px;
    }
    .img-social{
        max-width: 316.08px;
        width: 316.08px;
        height: 66.54px;
    }
    .img-schedule{
        max-width: 357.3px;
        width: 357.3px;
        height: 318.82px;
    }
}